    /* CSS Code */
    body {
        margin:0px;
        padding:0;
        font-family:helvetica;
        background-color: #1A1A1A;
        color: #242628;
        overflow-x: hidden;
        user-select: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
    }
    /* Heading */
    h1 {
        color: #007AFF;
        font-size: 45px;
    }
 
    /* 3*3 Grid */
    #b1, #b2, #b3, #b4, #b5,
    #b6, #b7, #b8, #b9 {
        width: 80px;
        height: 52px;
        margin: auto;
        border: 1px solid #007AFF;
        border-radius: 6px;
        font-size: 30px;
        text-align: center;
    }
 
    /* Reset Button */
    #but {
        box-sizing: border-box;
        width: 95px;
        height: 40px;
        border: 1px solid #007AFF;
        margin: auto;
        border-radius: 4px;
        font-family: Verdana,
            Geneva, Tahoma, sans-serif;
 
        background-color: #007AFF;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
 
    /* Player turn space */
    #print {
        font-family: Verdana,
            Geneva, Tahoma, sans-serif;
 
        color: dodgerblue;
        font-size: 20px;
    }
 
    /* Main Container */
    #main {
        text-align: center;
    }
 
    /* Game Instruction Text */
    #ins {
        font-family: Verdana,
            Geneva, Tahoma, sans-serif;
             
        color: dodgerblue;
        font-size: 17px;
    }

    .ios {
        margin:10px;
        padding:20px;
        width:80%;
        border-radius:20px;
        background-color: #242628;
        height:25px;
        font-size: 25px;
    }
    .apps{
        margin:20px;
        padding:20px;
        width:80%;
        border-radius:20px;
        border-style: solid;
        border-color: #007AFF;
        background-color: #242628;
        height:60px;
    }
    .apps h1{
        font-size:50px;
        text-align: center;
        margin-top:0px;
    }
    .blockz{
        margin:20px;
        padding:20px;
        width:80%;
        border-radius:20px;
        border-style: solid;
        border-color: #007AFF;
        background-color: #242628;
        height:350px;
        margin-top: px;
    }